<i [style]="sanitizer('padding-bottom:'+(data.height/data.width*100)+'%')" [@scrollAnimation]="state">
</i>
<img [src]="data.link" [alt]="data.title" [title]="data.title" [@scrollAnimation]="state" (mouseenter)="hover=true">
<div class="info-title" [@scrollAnimation]="state">
  <p>
    {{data.title}}
  </p>
</div>
<div class="info-hover" [@scrollAnimation]="state" [hidden]="!hover" (mouseleave)="hover=false">
  <div class="inside-info">
    <button class="button is-primary" (click)="showFull = true">More Info</button>
  </div>
</div>
<div class="full-page-info" *ngIf="showFull" (click)="close($event)">
  <div class="modal-inner" #modalInner>

    <div class="exit" (click)="showFull = false;">
      <i class="fas fa-times"></i>
    </div>
    <div class="content">
      <h1>
        {{data.title}}</h1>
      <p>{{data.description}}</p>
      <div *ngIf="data.files">

        <h2>Additional Files</h2>
        <ul>
          <li class="list-documents" *ngFor="let file of data.files">
            <a rel="noreferrer" class="button is-primary" [href]="file.url">
              <i class=" fa fa-download" aria-hidden="true"></i>
            </a>
            {{file.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>