<section class="section">
  <div class="container">
    <nav class="level is-size-3">
      <div class="level-item has-text-left">
        <div class="is-flex">
          <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <p class="heading is-size-7">Dublin, OH 43016</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div class="is-flex">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <p class="heading is-size-7">(614) 222-4444</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div class="is-flex">
          <span class="icon">
            <i class="fas fa-comment-alt"></i>
          </span>
          <p class="heading is-size-7">contact@tessamberger.com</p>
        </div>
      </div>
    </nav>

  </div>
  <a class="button is-pulled-right is-primary">Download Resume</a>
</section>
