
nav {
  background-color: var(--theme-color);
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.95);
  min-height: 70px;
}

a {
  color: rgba(255, 255, 255, 0.95);
}

a:hover, a:active {
  text-decoration: underline;
}
.heading {
  padding-left: 8px;
}

.level-item {
  padding: 12px;
}
