:host {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

// .outer {
//   margin-top: 45vh;
//   width: 100vw;
//   height: 200vh;
//   background-color: white;
// }
.info-card {
  //   top: 15vh;
  //   position: absolute;
  padding-top: 120px;
  border-radius: 16px;
  margin: auto;
  margin-top: 100px;
  width: 50vw;
  max-width: 600px;
  min-width: 350px;
  min-height: 340px;
  height: 50vh;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.circle-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  margin: auto;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  
  background-size: cover !important;
  background-position: center !important;
}

h3 {
  font-weight: 500 !important;
}

p {
  margin-left: 42px;
  margin-right: 42px;
}