<section class="main-section" [style.background-image]="backgroundUrl">
  <section class="section" *ngIf="content$ | async as content">
    <div class="container">
      <app-header [content]="content"></app-header>
      <app-profile-card [content]="content"></app-profile-card>
      <app-projects [content]="content"></app-projects>
      <!-- <app-image-section [id]="content.imgurAlbumId" *ngIf="content.imgurAlbumId"></app-image-section> -->


    </div>
  </section>
  <section class="section-two" *ngIf="content$ | async as content">
    <div class="inner">
      <div class="inner-inner"></div>
    </div>
    <div class="accolades">

      <p>Accolades</p>
      <app-image-container [id]="content.imgurAlbumId"></app-image-container>
    </div>
  </section>
</section>

<div class="notification is-success" style="position: fixed; bottom: 4px; right: 4px; " *ngIf="showPWADownload" (click)="installTapped()">
  <button class="delete" (click)="showPWADownload = false"></button>
  Interested in adding the app as a PWA to your home? Tap here.
</div>
<div class="notification is-success" style="position: fixed; bottom: 4px; right: 4px; " *ngIf="showUpdate" (click)="updateTapped()">
  <button class="delete" (click)="showUpdate = false"></button>
  A new version is available. Tap here to update.
</div>