<section class="background" [appBgLoader]="backgroundImage" *ngIf="backgroundImage">
</section>

<ng-container *ngIf="content$ | async as content">
  <section class="section">
    <div class="container">
      <app-header [content]="content"></app-header>
      <app-profile-card [content]="content"></app-profile-card>
      <app-projects [content]="content"></app-projects>
      <!-- <app-image-section [id]="content.imgurAlbumId" *ngIf="content.imgurAlbumId"></app-image-section> -->
    </div>
  </section>

  <section class="section-two">

    <div class="inner">
      <div class="inner-inner"></div>
    </div>
    <div class="spacer">

    </div>
    <div class="inner inner-bottom">
      <div class="inner-inner"></div>
    </div>
  </section>

  <section class="section-three">
    <div class="accolades">
      <p>Accolades</p>
      <app-image-container [id]="content.imgurAlbumId"></app-image-container>
    </div>
  </section>

  <section class="section-social">
    <div class="social">
      <a class="icon" *ngFor="let social of content.social" [attr.aria-label]="social.url" [href]="social.url">
        <i [class]="social.icon" aria-hidden="true"></i>
      </a>
    </div>
  </section>
</ng-container>

<div class="notification is-success" *ngIf="showPWADownload" (click)="installTapped()">
  <button class="delete" (click)="showPWADownload = false"></button>
  Interested in adding the portfolio as a PWA to your home? Tap here.
</div>

<div class="notification is-success" *ngIf="showUpdate" (click)="updateTapped()">
  <button class="delete" (click)="showUpdate = false"></button>
  A new version of the portfolio is available. Tap here to update.
</div>