/* You can add global styles to this file, and also import other style files */

@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";

$blue: #72d0eb;
$pink: #ffb3b3;
$orange: orange;
$pink-invert: rgba(255, 255, 255, 0.95);
$primary: $orange;
$primary-invert: $pink-invert;
$danger: $orange;
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
@import "./node_modules/bulma/sass/utilities/derived-variables";
$addColors: ( "twitter":($twitter, $twitter-invert), "linkedin": ($linkedin, $linkedin-invert), "github": ($github, $github-invert));
$colors: map-merge($colors, $addColors);
@import "./node_modules/bulma/bulma";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

:root {
  --theme-color: #2cba92;
}

.is-primary {
  background-color: var(--theme-color) !important;
}

.button.is-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(166, 165, 174, 0.25);
}